.landscape {
    width: 65%;
    max-width: 65%;
    min-width: 50%;
}

.portrait{
    width: 34%;
}

/*@media only screen and (max-width: 600px) {
    html {
        font-size: 16px
    }
}
*/

body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-align: center;
    text-transform: lowercase;
}

pre {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-align: center;
    white-space: pre-line;
    text-transform: lowercase;
}