.landscape {
    width: 50%;
    max-width: 50%;
    min-width: 40%;
}

.portrait{
    width: 30%;
    max-width: 30%;
    min-width: 18%;
}

/*@media only screen and (max-width: 600px) {
    html {
        font-size: 16px
    }
}
*/

body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    text-transform: lowercase;
}

pre {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    white-space: pre-line;
    text-transform: lowercase;
}